*.local
*.tvsconfig
*.~1~
built/
*.identcache
*.delphilsp.json
**/__history/
*.stat
*.res
*.dcu
msbuild.log
backup.snap
tests/Tests.exe
tests/Tests.map
GeneratedClientBuildScript.cmd
*.a
tests/dunitx-results.xml
*.bpi
*.lnk
*.deployproj
